[Unit]
Description=Openconnect VPN
After=network-online.target
Conflicts=shutdown.target sleep.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/openconnect
ExecStart=/usr/local/bin/openconnect-launch.sh
TimeoutStartSec=120s
KillSignal=SIGINT
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target

